.about-section {
  align-items: center;
  justify-content: start;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  p {
    max-width: 1000px;
    font-weight: 400;
    font-size: 3rem;
    color: #e8eaed;
    .highlighted {
      background: linear-gradient(90.18deg, #6ea5ef 22.57%, #92b4ec 61.19%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

@media (max-width: 600px) {
  .about-section {
    justify-content: start;
    padding: 0 30px;
    p {
      font-size: 2rem;
    }
  }
}
