.skills-section {
  min-height: auto;
  margin-bottom: 150px;
  &-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 50px;
    justify-content: center;
    .skills-tabs-container {
      margin-bottom: 50px;
    }
  }
}
.skills-table {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 20px 20px;
  align-items: start;
}

.skills-table-headers {
  grid-column: 1 / -1; /* растянуть на всю ширину всех колонок */
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 20px;
  border-bottom: 1px solid #888d93;
  padding-bottom: 20px;
  font-size: 20px;
}

.header {
  color: #888d93;
}

.area {
  font-weight: bold;
  color: #fff;
}

.type {
  font-weight: 500;
  color: #fff;
}

.desc {
  color: #888d93;
  line-height: 1.5;
}

.col.skills-image-col {
  flex: 0 0 45%;
  background-image: url('/public/skills-image.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 700px;
}

@media (max-width: 1400px) {
  .col.skills-image-col {
    display: none;
  }
}

@media (max-width: 1000px) {
  .skills-table {
    grid-template-columns: auto;
    &-headers {
      display: none;
    }
  }
}
