.colaborate-section {
  align-items: center;
  justify-content: start;
  text-align: center;
  h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    z-index: 2;
  }
  p {
    max-width: 700px;
    color: #888d93;
    z-index: 2;
  }
  .highlighted {
    background: linear-gradient(90.18deg, #6ea5ef 22.57%, #92b4ec 61.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &-action {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-bg {
      position: absolute;
      z-index: 1;
      height: 500px;
      width: 100%;
      background-image: url('/colaborate-image.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .colaborate-button {
      z-index: 2;
    }
  }
}

@media (max-width: 600px) {
  .colaborate-section-action-bg {
    background-image: url('/colaborate-image-mobile.png') !important;
  }
}
