footer {
  max-width: 1440px;
  margin: auto;
  color: #888d93;
  padding: 30px;
  .social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
    ul {
      display: flex;
      gap: 20px;
    }
  }
  .divider {
    height: 1px;
    background-color: #888d93;
    margin: 30px 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    a {
      color: #888d93;
      transition: 0.2s;
      &:hover {
        color: #fff;
      }
    }
  }
}
