.main-content {
  position: relative;
  width: 100%;

}

.light-sphere-wrapper {
  position: absolute;
  top: 100vh; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 1; /* Sit above background but below interactivess if possible, or just use pointer-events: none */
  
  svg {
    width: 100%;
    height: auto;
    opacity: 0.8; /* Adjust if too bright */
  }
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
